<strong>You were mentioned by <%= @journal.user.login %> on <%= @journal.created_on.to_s(:db) %></strong>
<br />
<label>Subject: </label>
<%= link_to(@issue.subject.truncate(60), issue_path(@issue)) %> (<%= @issue.status %>)
<br />
<label>Project: </label>
<%= @issue.project.name %>
<p>
  <%= @journal.notes %>
</p>
